<?xml version="1.0" encoding="utf-8"?>
<RunSettings>
  <DataCollectionRunSettings>
    <DataCollectors>
      <DataCollector friendlyName="XPlat code coverage">
        <Configuration>
          <Format>cobertura</Format>
          <Include>[CosmicWorks.Domain]*</Include>
          <!-- Exclude pure interface file(s) -->
          <ExcludeByFile>**/CosmicWorks.Domain/Services/IDiscountPolicy.cs</ExcludeByFile>
        </Configuration>
      </DataCollector>
    </DataCollectors>
  </DataCollectionRunSettings>
</RunSettings>